################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MiniMvc
/MiniMvc/bin/Debug/netcoreapp3.1
/MiniMvc/obj
/MiniMvc.FunctionalTest/bin/Debug/netcoreapp3.1
/MiniMvc.FunctionalTest/obj
/MiniMvc.UnitTest/obj
